$colors: (
  "black": #000000,
  "dark-green": #50934a,
  "green": #67a562,
  "green-opacity": rgba(103, 165, 98, 0.9),
  "grey": #9d9d9d,
  "light-grey": #d0d0d0,
  "light-blue": #f5f9ff,
  "red": #ae1616,
  "white": #ffffff,
);

:export {
  @each $name, $color in $colors {
    #{$name}: $color;
  }
}
