@import "./colors";
@import "./fonts.scss";
@import "./functions";
@import "./margin";
@import "./mixins";
@import "./normalize.scss";
@import "./padding.scss";

* {
  font-family: $font-primary;
  font-weight: 300px;
}

body {
  overflow: hidden;
}

.display-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.grey {
  color: get-color("grey");
}

.small {
  font-size: rem(14px);
}

.shadow {
  box-shadow: 4px 2px 20px -5px rgba(0, 0, 0, 0.2);
}

.button,
.button-green {
  all: unset;
  width: 100%;
  border-radius: rem(6px);
  padding: rem(10px);
  cursor: pointer;
  font-size: rem(12px);
  text-align: center;
  height: rem(46px);
  position: relative;
  margin-bottom: rem(20px);
  box-sizing: border-box;
  max-width: rem(480px);
}

.button {
  font-weight: 600;
  box-shadow: 4px 2px 20px -5px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: get-color("light-blue");
  }
}

.button--green {
  background-color: get-color("green");
  color: get-color("white");

  &:hover {
    background-color: get-color("dark-green");
  }
}

.button--mt {
  margin-top: rem(30px);
}
