@import "./colors";
@import "./fonts.scss";
@import "./functions";
@import "./margin";
@import "./normalize.scss";
@import "./padding.scss";

* {
  font-family: $font-primary;
  font-weight: 300px;
}

.display-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
