@import "../../assets/scss/styles";

.landing {
  &__log-in-text {
    text-align: end;

    &--green {
      color: get-color("green");
      font-weight: 600;
    }
  }

  &__title {
    margin-top: rem(80px);
  }
}
