@import "../../assets/scss/styles";

.landing {
  &__log-in-text {
    text-align: end;

    &--green {
      color: get-color("green");
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__wrapper {
    padding: rem(80px) rem(160px) rem(80px) rem(80px);
  }
}
