@import "../../assets/scss/styles";

.register {
  &__wrapper {
    padding: rem(40px) rem(20px);

    @include for-tablet-portrait-up {
      padding-right: rem(120px);
    }
  }

  &__title {
    font-size: rem(28px);
    margin-top: 0;
  }

  &__text {
    display: none;

    @include for-tablet-portrait-up {
      display: block;
      line-height: rem(26px);
    }
  }

  &__terms {
    &-checkbox {
      cursor: pointer;
    }
  }

  &__google-icon {
    position: absolute;
    left: rem(40px);
    top: rem(14px);
  }
}
