@import "../../assets/scss/styles";

.register {
  padding: rem(20px);

  &__wrapper {
    @include for-tablet-portrait-up {
      padding: 0 rem(120px) 0 0;
    }
  }

  &__text {
    display: none;

    @include for-tablet-portrait-up {
      display: block;
      line-height: rem(26px);
    }
  }

  &__terms {
    &-checkbox {
      cursor: pointer;
    }
  }

  &__google-icon {
    position: absolute;
    left: rem(40px);
    top: rem(14px);
  }
}
