@import "../../assets/scss/styles";

.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &__image {
    display: none;

    @include for-tablet-portrait-up {
      display: flex;
      background-image: linear-gradient(
          get-color("green-opacity"),
          get-color("green-opacity")
        ),
        url(../../assets/img/Background.png);
      background-size: cover;
      height: 100vh;
      width: 45%;
    }
  }

  &__text {
    display: none;

    @include for-tablet-portrait-up {
      display: flex;
      position: relative;
      margin: auto;
      padding: 0 rem(80px);
      line-height: rem(40px);
      color: get-color("white");
      font-weight: 300;

      &::before {
        content: url(../../assets/icons/quotation-marks.png);
        position: absolute;
        top: rem(-70px);
      }

      &::after {
        content: url(../../assets/icons/vector.png);
        position: absolute;
        bottom: rem(-70px);
        right: rem(100px);
      }
    }
  }

  &__content {
    width: 100%;

    @include for-tablet-portrait-up {
      width: 55%;
      padding: 0 rem(60px);
    }
  }
}
