@import "../../assets/scss/styles";

.card {
  max-width: rem(480px);

  &__wrapper {
    margin: rem(20px) 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius: rem(6px);
    border: 1px solid transparent;
    height: rem(100px);
    text-align: start;

    &:hover,
    &:active {
      border: 1px solid get-color("dark-green");
      overflow: hidden;
      background: get-color("light-blue");
    }
  }

  &__icon-wrapper {
    position: relative;
    width: 25%;

    @include for-tablet-portrait-up {
      width: 20%;
    }
  }

  &__icon {
    &--absolute {
      position: absolute;
      top: rem(15px);
    }
  }

  &__content {
    width: 75%;
    margin-right: rem(20px);

    @include for-tablet-portrait-up {
      margin-right: 0;
      width: 65%;
    }
  }

  &__title {
    font-weight: 600;
    margin-bottom: 0;
  }

  &__description {
    margin-top: rem(5px);
  }

  &__arrow {
    display: none;

    @include for-tablet-portrait-up {
      display: block;
      width: 15%;
    }
  }
}
